*{
     margin:0;
     padding:0;
 box-sizing: border-box;
}
.header{
    min-height: 80vh;
    width:100%;
    background-image:url(school.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}
nav{
    display:flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items:center;
}
nav img{
     width:100px;
}
.nav-links{
     flex:1;
     text-align:right;
}
.nav-links ul li{
     list-style:none;
     display:inline-block;
     padding: 8px 12px;
     position: relative;
}
.nav-links ul li a{
     color:blue;
     text-decoration:none;
     font-size:20
}

.nav-links ul li::after{
     content:'';
     width:100%;
     height:2px;
     background:#f44336;
     display:block;
     margin:auto;
     transition:0.5s;
}

.bottom-text-box {
  background-color: #003366; 
  color: #ffffff;            
  padding: 60px 40px;
  text-align: center;
  margin-top: 50px;
}

.bottom-text-box h2 {
  font-size: 38px;
  margin-bottom: 10px;
}

.bottom-text-box p {
  font-size: 28px;
}


.width-100{width:100%;float:left;}
.container{width:1200px;margin:0px auto;}
.top-header{background:#2196f3;padding:5px 0px;}
.news-list{padding:6px; font-size:20px;}
.headquote{font-size:18px; width:80%;}



.carousel-container {
  position: relative;
  width: 90%;
  margin: 50px auto;
  overflow: hidden;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 10px;
}

.carousel::-webkit-scrollbar {
  display: none; 
}

.carousel img {
  width: 500px;
  height: 300px;
  border-radius: 10px;
  flex-shrink: 0;
  object-fit: cover;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
}



.right {
  right: 10px;
}

/* Responsive image size for mobile */
@media (max-width: 768px) {
  .carousel img {
    width: 200px;
    height: 130px;
  }
}

     